##
# PHP tasks
#
---
- name: "Add default variables per PHP version and distribution"
  include_vars: "{{ item }}"
  with_items:
    - "{{ ansible_distribution_release }}.yml"
    - "php{{ php_version }}.yml"

- name: Add PPA Repository
  apt_repository: repo={{ php_ppa }}
  register: result
  when: php_ppa != false

- name: Install required packages.
  apt: pkg={{ item }} state=present
  with_items: php_apt_packages

- name: Customizing php.ini settings.
  template: src={{ item }}-ini.j2 dest={{ php_conf_path }}/{{ item }}.ini mode=644
  with_items: php_module_ini_files
  notify:
    - restart PHP server
    - enable ansible config

- include: php_debug.yml
