; configuration for php ZendOpcache module
; priority=05
zend_extension=opcache.so

[opcache]
opcache.memory_consumption = {{ php_opcode_memory_consumption }}
opcache.enable = {{ php_opcache_enable }}
opcache.enable_cli = {{ php_opcache_enable_cli }}
opcache.validate_timestamps {{ php_opcache_validate_timestamps }}
opcache.revalidate_freq {{ php_opcache_revalidate_freq }}
